In [1]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

**  First we import pandas libarary and import  warnings to ignore unnaccery errors

In [2]:
df=pd.read_csv("/kaggle/input/credit-score-classification/train.csv")
df1=pd.read_csv("/kaggle/input/credit-score-classification/test.csv")

In [3]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [4]:
car=df.select_dtypes("object")
num=df.select_dtypes(["int","float"])
car1=df1.select_dtypes("object")
num1=df1.select_dtypes(["int","float"])

In [5]:
car=car.fillna("0")
num=num.fillna(0)
car1=car1.fillna("0")
num1=num1.fillna(0)

In [6]:
df=pd.concat([car,num], axis=1)
df1=pd.concat([car1,num1], axis=1)

In [7]:
df1.isnull().sum()

ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Num_of_Loan                 0
Type_of_Loan                0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_History_Age          0
Payment_of_Min_Amount       0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Delay_from_due_date         0
Num_Credit_Inquiries        0
Credit_Utilization_Ratio    0
Total_EMI_per_month         0
dtype: int64

In [8]:
car

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Changed_Credit_Limit,Credit_Mix,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,11.27,_,809.98,22 Years and 1 Months,No,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",0,11.27,Good,809.98,0,No,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,_,Good,809.98,22 Years and 3 Months,No,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,6.27,Good,809.98,22 Years and 4 Months,No,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",0,11.27,Good,809.98,22 Years and 5 Months,No,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,2,"Auto Loan, and Student Loan",7,11.5,_,502.38,31 Years and 6 Months,No,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,2,"Auto Loan, and Student Loan",7,11.5,_,502.38,31 Years and 7 Months,No,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,2,"Auto Loan, and Student Loan",6,11.5,Good,502.38,31 Years and 8 Months,No,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,2,"Auto Loan, and Student Loan",0,11.5,Good,502.38,31 Years and 9 Months,No,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,2,"Auto Loan, and Student Loan",6,11.5,Good,502.38,31 Years and 10 Months,No,167.1638651610451,!@9#%8,393.673696,Poor

In [9]:
df1

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Num_of_Loan,Type_of_Loan,...,Payment_Behaviour,Monthly_Balance,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Low_spent_Small_value_payments,186.26670208571772,1824.843333,3,4,3,3,2022.0,35.030402,49.574949
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,High_spent_Medium_value_payments,361.44400385378196,1824.843333,3,4,3,3,4.0,33.053114,49.574949
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Low_spent_Medium_value_payments,264.67544623342997,1824.843333,3,4,3,-1,4.0,33.811894,49.574949
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,High_spent_Medium_value_payments,343.82687322383634,0.000000,3,4,3,4,4.0,32.430559,49.574949
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,1,Credit-Builder Loan,...,High_spent_Large_value_payments,485.2984336755923,3037.986667,2,4,6,3,5.0,25.926822,18.816215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0x25fe5,CUS_0x8600,December,Sarah McBridec,4975,031-35-0942,Architect,20002.88,5,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",...,Low_spent_Small_value_payments,275.53956951573343,1929.906667,10,8,29,33,12.0,34.780553,60.964772
49996,0x25fee,CUS_0x942c,September,Nicks,25,078-73-5990,Mechanic,39628.99,2_,"Auto Loan, and Student Loan",...,Low_spent_Small_value_payments,409.39456169535066,0.000000,4,6,7,20,7.0,27.758522,35.104023
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,2,"Auto Loan, and Student Loan",...,Low_spent_Large_value_payments,349.7263321025098,3359.415833,4,6,7,23,7.0,36.858542,35.104023
49998,0x25ff0,CUS_0x942c,November,Nicks,25,078-73-5990,Mechanic,39628.99,2_,"Auto Loan, and Student Loan",...,High_spent_Small_value_payments,463.23898098947717,0.000000,4,6,7,21,7.0,39.139840,35.104023
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,2,"Auto Loan, and Student Loan",...,Low_spent_Medium_value_payments,360.37968260123847,3359.415833,4,6,7,22,7.0,34.108530,35.104023

In [10]:
df=df[df.Credit_Mix!= "_"]
df=df[df.Occupation!= "_______"]
df=df[df.Delay_from_due_date!= -1]
df1=df1[df1.Credit_Mix!= "_"]
df1=df1[df1.Occupation!= "_______"]
df1=df1[df1.Delay_from_due_date!= -1]

In [11]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['Occupation']=label_encoder.fit_transform(df['Occupation'])


label_encoder = LabelEncoder()

df1['Occupation']=label_encoder.fit_transform(df1['Occupation'])

In [12]:
label_encoder = LabelEncoder()


df['Monthly_Balance' ] = label_encoder.fit_transform(df['Monthly_Balance'].astype(str))



label_encoder = LabelEncoder()


df1['Monthly_Balance' ] = label_encoder.fit_transform(df1['Monthly_Balance'].astype(str))

In [13]:
label_encoder = LabelEncoder()


df['Payment_Behaviour' ] = label_encoder.fit_transform(df['Payment_Behaviour'].astype(str))



label_encoder = LabelEncoder()


df1['Payment_Behaviour' ] = label_encoder.fit_transform(df1['Payment_Behaviour'].astype(str))

In [14]:
label_encoder = LabelEncoder()


df['Amount_invested_monthly' ] = label_encoder.fit_transform(df['Amount_invested_monthly'].astype(str))



label_encoder = LabelEncoder()


df1['Amount_invested_monthly' ] = label_encoder.fit_transform(df1['Amount_invested_monthly'].astype(str))

In [15]:
label_encoder = LabelEncoder()


df['Payment_of_Min_Amount'] = label_encoder.fit_transform(df['Payment_of_Min_Amount'].astype(str))



label_encoder = LabelEncoder()


df1['Payment_of_Min_Amount'] = label_encoder.fit_transform(df1['Payment_of_Min_Amount'].astype(str))

In [16]:
label_encoder = LabelEncoder()


df['Credit_History_Age'] = label_encoder.fit_transform(df['Credit_History_Age'].astype(str))



label_encoder = LabelEncoder()


df1['Credit_History_Age'] = label_encoder.fit_transform(df1['Credit_History_Age'].astype(str))

In [17]:
label_encoder = LabelEncoder()


df['Outstanding_Debt'] = label_encoder.fit_transform(df['Outstanding_Debt'].astype(str))


label_encoder = LabelEncoder()


df1['Outstanding_Debt'] = label_encoder.fit_transform(df1['Outstanding_Debt'].astype(str))

In [18]:
label_encoder = LabelEncoder()


df['Credit_Mix'] = label_encoder.fit_transform(df['Credit_Mix'].astype(str))


label_encoder = LabelEncoder()


df1['Credit_Mix'] = label_encoder.fit_transform(df1['Credit_Mix'].astype(str))

In [19]:
label_encoder = LabelEncoder()


df['Changed_Credit_Limit'] = label_encoder.fit_transform(df['Changed_Credit_Limit'].astype(str))


label_encoder = LabelEncoder()


df1['Changed_Credit_Limit'] = label_encoder.fit_transform(df1['Changed_Credit_Limit'].astype(str))

In [20]:
label_encoder = LabelEncoder()


df['Num_of_Delayed_Payment'] = label_encoder.fit_transform(df['Num_of_Delayed_Payment'].astype(str))


label_encoder = LabelEncoder()


df1['Num_of_Delayed_Payment'] = label_encoder.fit_transform(df1['Num_of_Delayed_Payment'].astype(str))

In [21]:
label_encoder = LabelEncoder()


df['Type_of_Loan'] = label_encoder.fit_transform(df['Type_of_Loan'].astype(str))


label_encoder = LabelEncoder()


df1['Type_of_Loan'] = label_encoder.fit_transform(df1['Type_of_Loan'].astype(str))

In [22]:
label_encoder = LabelEncoder()


df['Num_of_Loan'] = label_encoder.fit_transform(df['Num_of_Loan'].astype(str))


label_encoder = LabelEncoder()


df1['Num_of_Loan'] = label_encoder.fit_transform(df1['Num_of_Loan'].astype(str))

In [23]:
label_encoder = LabelEncoder()


df['Annual_Income'] = label_encoder.fit_transform(df['Annual_Income'].astype(str))


label_encoder = LabelEncoder()


df1['Annual_Income'] = label_encoder.fit_transform(df1['Annual_Income'].astype(str))

In [24]:
label_encoder = LabelEncoder()


df['SSN'] = label_encoder.fit_transform(df['SSN'].astype(str))


label_encoder = LabelEncoder()


df1['SSN'] = label_encoder.fit_transform(df1['SSN'].astype(str))

In [25]:
label_encoder = LabelEncoder()


df['Age'] = label_encoder.fit_transform(df['Age'].astype(str))


label_encoder = LabelEncoder()


df1['Age'] = label_encoder.fit_transform(df1['Age'].astype(str))

In [26]:
df=df.drop(columns=['ID','Customer_ID','Month','Name'])

In [27]:
df.dtypes

Age                           int64
SSN                           int64
Occupation                    int64
Annual_Income                 int64
Num_of_Loan                   int64
Type_of_Loan                  int64
Num_of_Delayed_Payment        int64
Changed_Credit_Limit          int64
Credit_Mix                    int64
Outstanding_Debt              int64
Credit_History_Age            int64
Payment_of_Min_Amount         int64
Amount_invested_monthly       int64
Payment_Behaviour             int64
Monthly_Balance               int64
Credit_Score                 object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Delay_from_due_date           int64
Num_Credit_Inquiries        float64
Credit_Utilization_Ratio    float64
Total_EMI_per_month         float64
dtype: object

In [28]:
df["Credit_Score"]=df["Credit_Score"].replace({
    "Good":0,
    "Standard":1,
    "Poor":2})

In [29]:
df

,Age,SSN,Occupation,Annual_Income,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Changed_Credit_Limit,Credit_Mix,Outstanding_Debt,...,Monthly_Balance,Credit_Score,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
2,0,10205,12,5541,186,129,531,4191,1,11814,...,36072,0,0.000000,3,4,3,3,4.0,28.609352,49.574949
3,225,10205,12,5541,186,129,444,3718,1,11814,...,8653,0,0.000000,3,4,3,5,4.0,31.377862,49.574949
4,225,10205,12,5541,186,129,6,1083,1,11814,...,38413,0,1824.843333,3,4,3,6,4.0,24.797347,49.574949
5,225,10205,12,5541,186,129,444,4116,1,11814,...,38202,0,0.000000,3,4,3,8,4.0,27.262259,49.574949
6,225,10205,12,5541,186,129,565,1083,1,11814,...,12328,0,1824.843333,3,4,3,3,4.0,22.537593,49.574949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99991,331,406,1,6031,210,4914,241,1876,0,7936,...,37518,1,1929.906667,10,8,29,33,9.0,37.140784,60.964772
99993,266,1009,9,10608,132,684,6,1106,1,9936,...,48106,1,3359.415833,4,6,7,23,3.0,29.135447,58638.000000
99997,266,1009,9,10607,132,684,518,1106,1,9936,...,58988,2,3359.415833,4,6,5729,27,3.0,41.255522,35.104023
99998,266,1009,9,10607,132,684,6,1106,1,9936,...,33156,1,3359.415833,4,6,7,20,3.0,33.638208,35.104023
99999,266,1009,9,10608,132,684,518,1106,1,9936,...,47266,2,3359.415833,4,6,7,18,3.0,34.192463,35.104023

In [30]:
df.corr()

,Age,SSN,Occupation,Annual_Income,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Changed_Credit_Limit,Credit_Mix,Outstanding_Debt,...,Monthly_Balance,Credit_Score,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
Age,1.000000,-0.010926,-0.007451,-0.029753,-0.169588,-0.040783,0.041229,0.032509,0.066867,0.024034,...,0.093651,-0.143586,0.070220,0.000486,-0.003503,-0.008370,-0.160144,-0.004220,0.024511,0.001245
SSN,-0.010926,1.000000,-0.006608,-0.007171,-0.003715,0.008950,-0.015149,-0.002628,0.004037,-0.002360,...,-0.003076,-0.004037,-0.011123,0.001670,-0.004200,-0.002346,0.014213,-0.004274,0.005779,-0.002873
Occupation,-0.007451,-0.006608,1.000000,0.000778,-0.001509,-0.007154,-0.000384,0.001101,0.005896,-0.003410,...,-0.003686,0.009170,-0.002113,-0.005781,-0.003346,0.003094,0.008423,-0.002390,0.001572,-0.000524
Annual_Income,-0.029753,-0.007171,0.000778,1.000000,0.078933,0.035523,-0.013198,-0.002945,-0.059438,-0.029847,...,0.162854,0.069741,-0.021034,-0.002280,0.000310,0.006113,0.085160,0.003948,-0.024181,-0.000393
Num_of_Loan,-0.169588,-0.003715,-0.001509,0.078933,1.000000,0.286378,-0.090166,-0.025215,-0.336956,0.004052,...,-0.326180,0.311195,-0.180639,0.005917,0.004142,0.008718,0.416227,0.013900,-0.095466,-0.000400
Type_of_Loan,-0.040783,0.008950,-0.007154,0.035523,0.286378,1.000000,-0.031579,-0.004568,-0.045667,-0.020081,...,-0.066863,0.076316,-0.033682,-0.001644,0.004219,-0.001185,0.076914,0.000123,-0.033428,-0.001843
Num_of_Delayed_Payment,0.041229,-0.015149,-0.000384,-0.013198,-0.090166,-0.031579,1.000000,0.021197,-0.053278,0.002565,...,0.056467,-0.099150,0.078792,-0.005847,-0.000993,0.001190,-0.133394,-0.003756,0.023652,0.002932
Changed_Credit_Limit,0.032509,-0.002628,0.001101,-0.002945,-0.025215,-0.004568,0.021197,1.000000,-0.120625,0.010405,...,0.010216,-0.020918,0.004705,-0.005845,0.000206,0.001679,0.004796,-0.000147,0.000762,0.001995
Credit_Mix,0.066867,0.004037,0.005896,-0.059438,-0.336956,-0.045667,-0.053278,-0.120625,1.000000,-0.069400,...,0.201007,-0.167353,0.079758,0.000735,-0.002590,-0.006357,-0.413502,-0.008622,0.025623,-0.000428
Outstanding_Debt,0.024034,-0.002360,-0.003410,-0.029847,0.004052,-0.020081,0.002565,0.010405,-0.069400,1.000000,...,-0.001998,-0.076246,0.021679,0.005735,-0.006891,0.000760,-0.010252,-0.003652,0.008718,-0.002895
Credit_History_Age,0.021661,-0.007985,-0.013167,-0.001036,-0.043009,-0.017779,0.011020,0.016158,-0.018259,0.023262,...,0.023571,-0.053917,0.027584,-0.000893,0.000241,0.001644,-0.036469,-0.006493,0.007710,0.005450
Payment_of_Min_Amount,-0.147089,0.007417,-0.002153,0.059019,0.283759,0.064540,-0.126765,-0.071601,-0.017639,-0.041279,...,-0.155046,0.278731,-0.157456,0.010144,0.005265,0.005866,0.315133,0.010927,-0.051824,-0.003653
Amount_invested_monthly,0.001896,0.000138,-0.001072,-0.010589,0.003612,0.002599,-0.003032,-0.007868,-0.004458,0.000826,...,0.027572,-0.009486,0.008616,-0.003774,0.002737,-0.002556,0.008327,0.000486,-0.013156,0.001044
Payment_Behaviour,-0.029742,0.004088,0.003965,-0.092033,0.063584,0.017729,-0.025971,-0.010188,-0.036493,-0.005123,...,-0.397969,0.099512,-0.211356,0.003418,0.004279,0.000346,0.072338,0.006394,-0.111627,-0.002689
Monthly_Balance,0.093651,-0.003076,-0.003686,0.162854,-0.326180,-0.066863,0.056467,0.010216,0.201007,-0.001998,...,1.000000,-0.180019,0.316157,-0.009077,-0.011710,-0.002237,-0.238032,-0.005392,0.122017,0.003958
Credit_Score,-0.143586,-0.004037,0.009170,0.069741,0.311195,0.076316,-0.099150,-0.020918,-0.167353,-0.076246,...,-0.180019,1.000000,-0.168185,0.008581,0.006081,0.001777,0.431705,0.010393,-0.047044,-0.002821
Monthly_Inhand_Salary,0.070220,-0.011123,-0.002113,-0.021034,-0.180639,-0.033682,0.078792,0.004705,0.079758,0.021679,...,0.316157,-0.168185,1.000000,-0.008248,-0.004276,-0.003967,-0.202162,-0.004136,0.141386,0.004602
Num_Bank_Accounts,0.000486,0.001670,-0.005781,-0.002280,0.005917,-0.001644,-0.005847,-0.005845,0.000735,0.005735,...,-0.009077,0.008581,-0.008248,1.000000,-0.001932,-0.003887,0.015292,-0.000754,-0.001638,-0.002227
Num_Credit_Card,-0.003503,-0.004200,-0.003346,0.000310,0.004142,0.004219,-0.000993,0.000206,-0.002590,-0.006891,...,-0.011710,0.006081,-0.004276,-0.001932,1.000000,-0.002319,0.006671,-0.003652,-0.003499,0.000586
Interest_Rate,-0.008370,-0.002346,0.003094,0.006113,0.008718,-0.001185,0.001190,0.001679,-0.006357,0.000760,...,-0.002237,0.001777,-0.003967,-0.003887,-0.002319,1.000000,0.011042,-0.002035,-0.002989,-0.001247
Delay_from_due_date,-0.160144,0.014213,0.008423,0.085160,0.416227,0.076914,-0.133394,0.004796,-0.413502,-0.010252,...,-0.238032,0.431705,-0.202162,0.015292,0.006671,0.011042,1.000000,0.010060,-0.065210,-0.004265
Num_Credit_Inquiries,-0.004220,-0.004274,-0.002390,0.003948,0.013900,0.000123,-0.003756,-0.000147,-0.008622,-0.003652,...,-0.005392,0.010393,-0.004136,-0.000754,-0.003652,-0.002035,0.010060,1.000000,0.000344,-0.009120
Credit_Utilization_Ratio,0.024511,0.005779,0.001572,-0.024181,-0.095466,-0.033428,0.023652,0.000762,0.025623,0.008718,...,0.122017,-0.047044,0.141386,-0.001638,-0.003499,-0.002989,-0.065210,0.000344,1.000000,0.001012
Total_EMI_per_month,0.001245,-0.002873,-0.000524,-0.000393,-0.000400,-0.001843,0.002932,0.001995,-0.000428,-0.002895,...,0.003958,-0.002821,0.004602,-0.002227,0.000586,-0.001247,-0.004265,-0.009120,0.001012,1.000000

In [31]:
df.describe()

,Age,SSN,Occupation,Annual_Income,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Changed_Credit_Limit,Credit_Mix,Outstanding_Debt,...,Monthly_Balance,Credit_Score,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,...,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000,74008.000000
mean,414.111691,5910.289158,6.948195,8843.367095,148.031578,2807.554467,181.545752,2480.991528,1.220057,6451.231083,...,36108.978178,1.113231,3573.061607,16.890566,22.300994,74.473084,21.123365,27.061939,32.276796,1388.172711
std,203.712882,3785.589825,4.312219,5094.044312,95.653565,1981.215446,182.832351,1225.324957,0.805032,3727.460520,...,21355.075370,0.674596,3298.706999,116.966633,128.015847,473.661662,14.832142,190.556099,5.112211,8244.130603
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,248.000000,2589.000000,3.000000,4400.000000,131.000000,984.750000,42.000000,1308.000000,1.000000,3223.000000,...,17601.750000,1.000000,1179.643333,3.000000,4.000000,8.000000,10.000000,3.000000,28.052861,30.631405
50%,394.000000,5895.000000,7.000000,8908.000000,160.000000,2778.000000,115.000000,2198.000000,1.000000,6428.000000,...,36103.500000,1.000000,2632.080000,6.000000,6.000000,13.000000,18.000000,5.000000,32.279745,69.621222
75%,575.000000,9187.250000,11.000000,13262.000000,210.000000,4564.000000,219.000000,3748.250000,2.000000,9685.000000,...,54605.250000,2.000000,5386.907500,7.000000,7.000000,20.000000,28.000000,9.000000,36.493794,162.343223
max,1377.000000,12500.000000,14.000000,17568.000000,329.000000,6260.000000,580.000000,4191.000000,2.000000,12910.000000,...,73101.000000,2.000000,15204.633333,1798.000000,1499.000000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [32]:
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
import numpy as np

2025-10-27 15:29:47.756510: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1761578987.975679      13 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1761578988.035600      13 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [33]:
x=df.drop(columns=['Credit_Score'])
y=df['Credit_Score']

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [35]:
model=Sequential([Dense(32,activation="relu",input_dim=23),
                 Dense(3,activation="softmax")])

2025-10-27 15:30:01.831166: E external/local_xla/xla/stream_executor/cuda/cuda_driver.cc:152] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

In [36]:
num_classes=len(np.unique(y))
num_classes

3

In [37]:
from tensorflow.keras.utils import to_categorical
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])
y_cat = to_categorical(y, num_classes=num_classes)
model.fit(x,y_cat,epochs=12)

Epoch 1/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.4262 - loss: 1050.5015
Epoch 2/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4624 - loss: 66.2028
Epoch 3/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4734 - loss: 52.4112
Epoch 4/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4738 - loss: 44.3683
Epoch 5/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4839 - loss: 39.8258
Epoch 6/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4739 - loss: 41.3108
Epoch 7/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4831 - loss: 39.3108
Epoch 8/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4833 - loss: 37.6513
Epoch 9/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4960 - loss: 34.6610
Epoch 10/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4960 - loss: 33.8748
Epoch 11/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.5028 - loss: 34.6996
Epoch 12/12
2313/2313 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.4955 - loss: 34.6818